body {
  position: relative;
  /* height: 100vh; */
  padding-bottom: 15vh;
  width: 98vw;
  margin: 0;
  background-color: #d0d7de;
  /* background-color: #d7dce2; */
  /* background-color: #1a202c; */
}

.favicon {
  height: 10px;
  width: 5px;
}

.logo {
  height: 30px;
  margin-right: 2vh;
}

a {
  color: rgb(3, 3, 253);
  text-decoration: none;
}

/***************************** FOOTER *****************************/
.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  font-size: 14px;
  padding: 0px 18px; 
  background-color: #ced3df;
  /* background-color: rgb(247, 247, 247); */
  /* background-color: #becbe8; */
  min-height: 15vh;
}

.footer-left, .footer-middle {
  list-style: none;
  font-size: 14px;
  margin-left: 5%;
  max-width: fit-content;
}

.footer-left li a{
  order: -1; 
  text-decoration: none;
  color: black; 
  display: flex; 
}

.footer-middle {
  font-size: 25px;
  display: flex;
}

.footer-middle li i {
  text-decoration: none;
  margin-left: 10px;
}

.footer-right {
  list-style: none;
  margin-right: 8%;
  max-width: fit-content;
}

.footer-right li {
  text-decoration: none;
  color: black;
}

/***************************** NAVBAR *****************************/
.navbar {
  display: flex;
  width: 100%;
  right: 0;
  top: 0;
  justify-content: space-between;  
  align-items: center;  
  font-size: 15px;
  padding: 5px; 
  margin-bottom: 15vh;
}

.left-item {
  list-style: none;
  font-size: 27px;
  margin-left: 5%;
  display: flex;
}

.left-item li, .logo {
  transition: transform 1s ease;
  margin-right: 2vw;
}

.left-item li a{
  order: -1; 
  text-decoration: none;
  color: black; 
  display: flex; 
}

.nav-list {
  list-style: none;
  display: flex;  
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-left: 12%;
  transition: transform 0.5s ease;
}

.nav-list li a {
  text-decoration: none;
  color: black; 
}

.nav-list li:last-child {
  margin-right: 15vw;
}

/* HOVER STYLING */
.nav-list li:hover, .left-item li:hover {
  transform: scale(1.3);
}

/***************************** HOME PAGE *****************************/

/* Summary abt me */
.home {
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.greeting {
  font-size: 60px;
  font-family: 'Hepta Slab', serif;
  font-family: 'Karla', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.description {
  /* top: 30%; */
  left: 55%;
  right: 10%;
  line-height: 4vh;
  font-size: 18px;
  position: absolute;
}

/* Social Media */
#linkedin {
  color: #2a4b83; 
}

#github {
  color: #1f304c; 
}

#facebook {
  color: #2a4b83; 
}

/* Profile Pic */
.profile_image {
  width: calc(160% - 13vw);
  max-width: 80vh;
  height: 90%;
  max-height: 90vh;
  border-radius: 50%;
}

.profile_image_container {
  margin-top: -5vh;
  margin-left: 14vw;
  position: absolute;
}

.description, .profile_image_container {
  flex: 1;
  max-width: calc(40% - 10vw);
}

/***************************** RESUME *****************************/
.resume {
  margin-left: 14%;
  max-width: 72%;
  position: relative;
}

.resume div {
  padding-bottom: 10vh;
}

.resume-education {
  margin-bottom: -15%;
}

.resume-education-item {
  display: flex;
  flex-direction: row;
}

.resume-education-heading {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 5%;
}

.resume-education-heading-school {
  font-size: 30px;
}

.resume-education-heading-major {
  font-size: 18px;
}

.resume-education-date {
  position: absolute;
  font-size: 20px;
  right: 15%;
}

.resume-experience-item {
  display: flex;
  flex-direction: row;
  margin-bottom: -10%;
}

.resume-experience-list {
  list-style-type: square;
  line-height: 3vh;
  font-size: 18px;
}

.resume-skills {
  margin-top: 15%;
}

.resume-skills ul {
  list-style: none;
  line-height: 4vh;
}

.resume-skills ul li {
  font-size: 24px;
}

.resume-skills ul li span {
  font-size: 20px;
}

/***************************** PROJECTS *****************************/
.projects {
  list-style: none;
  position: relative;
  line-height: 3vh;
  margin-left: 14%;
  max-width: 72%;
}

.projects div {
  padding-bottom: 10vh;
}

.project {
  margin-top: 2%;
  margin-bottom: -10%;
  margin-left: 5%;
}

.project-heading {
  display: flex;
  flex-direction: column;
}

.project-heading-title {
  font-size: 30px;
}

.project-heading-languages {
  font-size: 16px;
  margin-top: 0.5%;
}

.project-list {
  list-style-type: square;
  line-height: 3.5vh;
  font-size: 18px;
  margin-top: -6.5%;
}

.project-image .images {
  width: 65%;
  height: auto;
  border-radius: 1.5%;
}

/***************************** SHARED *****************************/
.heading {
  font-size: 55px;
  font-weight: 300;
}